* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: #f6f8f9;
}

.header-m {
    background-color: white;
    padding: 10px 20px 10px;
}

.t-image{
    display: inline-block;
    vertical-align: middle;
}

.title {
    display: inline-block;
    font-family: sans-serif;
    vertical-align: middle;
}

.button-area {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 10px;

    background-color: white;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.text-area {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 5px;

    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;

    background-color: white;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    line-height: 50px;
    font-family: sans-serif;
    font-size: 20px;
}

li {
    list-style-type: none;
}

.check {
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    padding: 2px;
    border-color: green;

    color: green;

    text-align: center;
    width: 100%;
    margin-right: 10px;
}

.cross {
    border-style: solid;    
    border-width: 1px;
    border-radius: 50%;
    padding: 2px;
    border-color: red;

    color: red;

    text-align: center;
    margin-right: 10px;
}

.colorbuttons {
    border-radius: 15px;
    padding: 10px;
    
    font-size: 10px;
    color: white;

}

.b1 {
    padding: 15px;
    border-radius: 15px;
    background-color: blue;
    color: white;
    border-color: blue;
}

.b2 {
    padding: 15px;
    border-radius: 15px;
    background-color: white;
    color: grey;
    border-color: grey;
}